<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/rust_rewrite/static/style/style.css">
</head>
<body>
    <div class="header-container">
        <!-- Header gets injected here. -->
    </div>
    <h1>Our mission</h1>
    <p>We intend to build the world's best search engine!</p>

    <h2>Our team</h2>
    <img src="/rust_rewrite/static/images/monkgroup.png" alt="monk group our team" style="height: 50vh;">
    <div class="footer-container">
        <!-- Footer gets injected here. -->
    </div>
    <script src="/rust_rewrite/static/scripts/inject.js"></script>
</body>
</html>